{{!-- templates/password-reset.hbs --}}
{{#> layouts/default}}
<div class="email-container">
  <div style="text-align: center; padding: 20px;">
    <img src='{{logoUrl}}' alt='HabitHub' class='header-logo' style="width: 200px; height: auto; margin-bottom: 15px; display: block; margin-left: auto; margin-right: auto;" />
    <h1 style="width: 400px; margin: 0 auto; font-size: 24px; color: #333333;">Reset Password</h1>
  </div>

  <div class="content" style="text-align: left;max-width: 600px; margin: 0 auto;">
    <h2>Hello {{userName}}!</h2>
    
    <div class="message-box" style="text-align: left; max-width: 600px; margin: 0 auto;">
      <p>We received a request to reset your Habit Hub password.</p>
      <p>Click the button below to create a new password. This link will expire in 1 hour.</p>
    </div>

    {{> components/button
      text="Reset Password"
      url=resetUrl
    }}

    <div class="help-text" style="text-align: left; max-width: 600px; margin: 20px auto;">
      <p>If you didn't request a password reset, you can safely ignore this email.</p>
      <p>Your password will remain unchanged.</p>
    </div>
  </div>
</div>
{{/layouts/default}}