{{! templates/email/components/footer.hbs }}
<footer class='email-footer'>
  <div class='footer-content'>
    {{#if logoUrl}}
      <img src='{{logoUrl}}' alt='HabitHub' class='footer-logo' />
    {{/if}}

    <div class='footer-text'>
      <p class='footer-tagline'>Stay consistent with your habits!</p>
      <p class='footer-brand'>HabitHub - Build Better Habits Together</p>

      <div class='footer-links'>
        <a href='#'>Unsubscribe</a>
        •
        <a href='#'>Preferences</a>
        •
        <a href='#'>View in Browser</a>
      </div>
    </div>
  </div>
</footer>