{{! components/social-share.hbs }}
<div class='social-share'>
  <p>Share your progress:</p>
  <div class='share-buttons'>
    <a href='{{twitterUrl}}' class='share-btn twitter'>ğ•</a>
    <a href='{{facebookUrl}}' class='share-btn facebook'>f</a>
    <a href='{{linkedinUrl}}' class='share-btn linkedin'>in</a>
  </div>
</div>