{{! components/stats-grid.hbs }}
<div class='stats-grid'>
  <div class='stat-card'>
    <div class='stat-number'>{{completionRate}}%</div>
    <div class='stat-label'>Completion Rate</div>
  </div>
  <div class='stat-card'>
    <div class='stat-number'>{{daysCompleted}}</div>
    <div class='stat-label'>Total Days</div>
  </div>
  <div class='stat-card'>
    <div class='stat-number'>{{bestStreak}}</div>
    <div class='stat-label'>Best Streak</div>
  </div>
</div>